<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo Login</title>
</head>
<body>
<h1>Login Page</h1>
<h2>Since this is an example login, here are some accounts you can log into:</h2>
<h2>Name: Billy    Code: 12345    Permissions: Normal user (student)</h2>
<h2>Name: Joe      Code:12345     Permissions: None, blacklisted (A student who has been blocked from getting equipment because of theft or another reason)</h2>
<h2>Name: Bob      Code: 54321    Permissions: Administrator (log in through Admin Login bellow)</h2>
<form action="data" method="post">
    <label for="name">Name</label>
    <input type="name" name="username" value="" required>
    <label for="code">Code</label>
    <input type="code" name="usercode" value="" required>
    <input type="submit" value="Submit">
</form>
<button onclick="window.location.href='/demo/admin';">
  Admin Login
</button>
</body>
</html>